%h1 Something is going in Space Hotel

.well
  %table
    %tr
      %th Title
      %th Content
      %th
      %th
      %th

    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.content.html_safe
        %td= link_to 'Show', article
        - if can? [:update, :destroy], Article
          %td= link_to 'Edit', edit_article_path(article)
          %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if can? [:create], Article
  = link_to 'New Article', new_article_path
