%p#notice= notice

%p
  %b Title:
  = @article.title
%p
  %b Content:
  = @article.content.html_safe

%p
  %b User id:
  = @article.user_id

%p
  %b User user:
  = @article.user.first_name

%p
  %b User admin:
  = @article.user.admin?

%p
  %b User super_admin:
  = @article.user.super_admin?

%p
  %b Customer:
  = @article.user.customer?

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path
