= form_for @booking do |f|
  - if @booking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@booking.errors.count, "error")} prohibited this booking from being saved:"
      %ul
        - @booking.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :arrival
    = f.date_select :arrival
  .field
    = f.label :departure
    = f.date_select :departure
  - unless current_user
    .field
      = label_tag :first_name
      = text_field_tag :first_name
    .field
      = label_tag :last_name
      = text_field_tag :last_name
    .field
      = label_tag :email
      = email_field_tag :email
  .field
    = label_tag :payment_card
    = text_field_tag :payment_card

  .field
    = f.label :status_id
    = f.number_field :status_id

  .actions
    = f.submit 'Save'
