%h1 Listing bookings

%table
  %thead
    %tr
      %th ID
      %th Arrival
      %th Departure
      %th User Email
      %th Room Name
      %th Room Price
      %th Room Size
      %th Room Occupancy
      %th Status
      %th
      %th

  %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.id
        %td= booking.arrival
        %td= booking.departure
        %td= booking.user.email
        %td= booking.room.name
        %td= booking.room.price
        %td= booking.room.size
        %td= booking.room.occupancy
        %td= booking.status.name
        %td= link_to 'Show', room_booking_path(booking.room, booking)
        %td= link_to 'Edit', edit_room_booking_path(booking.room, booking)
        %td= link_to 'Destroy', room_booking_path(booking.room, booking), :method => :delete, :data => { :confirm => 'Are you sure?' }


