%p#notice= notice

%p
  %b Arrival:
  = @booking.arrival
%p
  %b Departure:
  = @booking.departure

- if @booking.user
  %p
    %b User id:
    = @booking.user.id
  %p
    %b User email:
    = @booking.user.email

%p
  %b Room id:
  = @booking.room.id
%p
  %b Room name:
  = @booking.room.name

%p
  %b Room price:
  = @booking.room.price
%p
  %b Status:
  = @booking.status.name

= link_to 'Edit', edit_booking_path(@booking)
\|
= link_to 'Back', bookings_path
