= form_for @room do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.label :size
    = f.text_field :size
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :occupancy
    = f.text_field :occupancy
  .actions
    = f.submit 'Save'
