%h1 Listing rooms

%table
  %thead
    %tr
      %th Name
      %th Price
      %th Image
      %th Size
      %th Description
      %th Occupancy
      %th Specification
      %th
      %th
      %th

  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.name
        %td= room.price
        %td= image_tag room.image.url(:medium)
        %td= room.size
        %td= room.description
        %td= room.occupancy
        %td= room.specification.name
        %td= link_to 'Show', room
        %td= link_to 'Edit', edit_room_path(room)
        %td= link_to 'Destroy', room, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= link_to 'Book', new_room_booking_path(room)
        %td= link_to 'Bookings', room_bookings_path(room)

%br

= link_to 'New Room', new_room_path
